{{ define "main" }}
<main>
    <div>
        <h1>{{.Title}}</h1>
        {{ with .Params.subtitle }}
        <span class="text-muted">{{.}}</span>
        {{ end }}
    </div>

    <div class="my-4">
        <div class="my-3 text-muted row">
            <div class="col">
                Read time <b>{{.ReadingTime}} min</b>
            </div>
            <div class="col-auto">
                {{ if .Draft }}<span class="badge rounded-pill bg-info">draft</span>{{ end }}
            </div>
            <div class="col-auto">
                {{ .Date.Format "02/01/2006" }}
            </div>
        </div>
        <div class="my-3">
            {{ partial "taxonomy" . }}
        </div>
    </div>

    {{ if .Params.header_imgs }}
        <div class="header-imgs my-5">
            {{ $page := .Page }}
            {{ range .Params.header_imgs }}
            {{ $src := $page.Resources.GetMatch (. | safeURL)  }}
            <a href="{{ $src.RelPermalink }}">
            {{ partial "render-image" (dict "src" $src "class" "img-fluid rounded") }}
            </a>
            {{ end }}
        </div>
    {{ end }}
    

    <div class="my-5">
        {{ if .Params.shop }}
        <div class="row">
            <div class="col">
                {{.Content}}
            </div>
            <div class="col-auto">
                <a class="btn btn-primary" href="{{ .Params.shop.link }}" target="_blank">
                    <i class="fa-solid fa-bag-shopping"></i> {{ .Params.shop.price }}
                </a>
            </div>
        </div>
        {{ else }}
        {{.Content}}
        {{ end }}
    </div>
</main>
{{ end }}