{{ define "main" }}
<section id="main">
    <div>
        <h1>{{.Title}}</h1>
        <div class="my-3 row">
            {{ partial "categories" . }}
            {{ partial "tags" . }}
        </div>
        <div class="my-3 text-muted row">
            <div class="col">
                Read time <b>{{.ReadingTime}} min</b>
            </div>
            <div class="col-auto">
                {{ .Date.Format "02/01/2006" }}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            {{.Content}}
        </div>
      </div>
</section>
{{ end }}