{{ define "main" }}
<section id="main">
    <div>
        <h1>{{.Title}}</h1>
        <span class="subtitle text-muted fw-light fs-5">
            {{.ReadingTime}} min | {{ .Date.Format "Mon Jan 2, 2006" }}
        </span>
        <div class="my-4 d-flex justify-content-between">
            <div>
                {{ with .PrevInSection }}
                <a class="btn btn-sm btn-outline-secondary" href="{{.Permalink}}"><i class="fa-solid fa-angle-left"></i> {{.Title}}</a> 
                {{ end }}
                {{ with .NextInSection }}
                <a class="btn btn-sm btn-outline-secondary" href="{{.Permalink}}">{{.Title}} <i class="fa-solid fa-angle-right"></i></a>
                {{ end }}
            </div>
            <div>
                {{ with .Params.tags }}
                {{ range . }}
                <a href="{{ "tags" | absURL }}/{{ . | urlize }}" class="btn btn-sm  btn-secondary">#{{ . }}</a>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>

    <div class="my-5">
        {{.Content}}
    </div>
</section>
{{ end }}