{{ define "main" }}
<main aria-role="main">
  <header class="homepage-header">
    <h1>{{.Title}}</h1>
    {{ with .Params.subtitle }}
    <span class="subtitle">{{.}}</span>
    {{ end }}
  </header>
  <div class="homepage-content">
    {{.Content}}
  </div>

  <div class="mt-5">
    <h2>Derniers articles</h2>
    <div class="row g-3">
        {{ range first 10 .Site.RegularPages }}
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    {{.Title}}<br>
                    <small>{{.Date | time.Format "Mon Jan 2, 2006"}}</small>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ .Summary }}</p>
                    <a href="{{.Permalink}}" class="btn btn-primary">See</a>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
    </div>
</main>
{{ end }}