<div class="card">
    {{ if .Params.header_imgs }}
        {{ $page := .Page }}
        <a href="{{ .Permalink }}">
            {{ range first 1 .Params.header_imgs }}
            {{ $src := $page.Resources.GetMatch (. | safeURL)  }}
            {{ partial "render-image" (dict "src" $src "class" "img-fluid card-summary-top card-img-top") }}
            {{ end }}
        </a>
    {{ end }}

    <div class="card-body">
        <div class="row">
            <div class="col">
                <h5 class="card-title">
                    {{ .Title }}
                </h5>
            </div>
            <div class="col-auto">
                {{ if .Draft }}<span class="badge rounded-pill bg-info">draft</span>{{ end }}
            </div>
            <div class="col-auto text-muted fw-lighter">
                {{ .Date.Format "02/01/2006" }}
            </div>
        </div>
        <h6 class="card-subtitle mb-2 text-muted">{{ .Params.subtitle }}</h6>
        <div class="mb-3">
            {{ partial "taxonomy" . }}
        </div>
        <p class="card-text">{{ .Summary }}</p>
        <a class="card-link btn btn-primary" href="{{ .Permalink }}">See more</a>
    </div>
</div>